/**
 * General CSS File
 * Contains defaults and presets
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 */

/*==================================================================================
  General
==================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
}

body {
  display: block;
  background: $c-white;
  font-family: $f-regular;
  font-size: $f-regular-size;
  color: $c-text;
  cursor: default;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  padding: 4vw 0;
}

.content-top {
  padding: 4vw 0 0;
}

.content-bottom {
  padding: 0 0 4vw;
}

.no-padding {
  padding: 0;
}

h1 {
  font-family: $f-title;
  font-size: 48px;
  color: $c-title;
}

.entry-title {
  text-align: center;
  margin: 0 0 40px;
}

.entry-content {
  font-size: 18px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $f-title;
    margin: 40px 0 20px;
    color: $c-title;
  }

  p {
    margin: 10px 0;
    line-height: 160%;
  }

  a {
    color: $c-accent;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    margin: 0 0 0 30px;
  }
}

button:focus {
  outline: 0;
}

.static {
  position: static;
}

select {
  cursor: pointer;
  width: 100%;
}

select,
input {
  display: flex;
  align-items: center;
  background: $c-white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  color: $c-text;
  border: none;
  padding: 5px;
  margin: 0;
  outline: none;
}

.button__accent {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $r-radius-big;
  color: $c-white;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: $semibold;
  cursor: pointer;
  transition: all ease-out $transition_fast;

  &.light {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }

  &:hover,
  &.active {
    background: $c-text !important;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

img[loading=lazy] {
  animation: show 1s;
}

/*==================================================================================
  Header
==================================================================================*/
.site__header {
  position: relative;
  background: $c-white;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;

  .row {
    align-items: center;
  }
}

.site__header-box {
  display: flex;
  align-items: center;
}

.site__header-branding {
  img {
    max-width: 170px;
  }
}

.site__header-menu-button {
  display: none;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 15px 0 0;

  b {
    display: block;
    width: 30px;
    height: 2px;
    background: $c-text;
    margin: 3px 0;
    transition: all ease-out 0.3s;
  }

  &[aria-expanded="true"] {
    b:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }

    b:nth-child(2) {
      transform: scaleX(0);
    }

    b:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.site__header-menu {
  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 10px;

      a {
        color: $c-text;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        transition: all ease-out $transition_fast;

        &:hover {
          color: $c-accent;
        }
      }
    }

    li.current-menu-item {
      a {
        color: $c-accent;
      }
    }
  }
}

.site__social-menu {
  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 10px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: $c-accent;
        border-radius: 50%;
        transition: all ease-out $transition_fast;

        &:hover {
          background: $c-text;
        }
      }

      svg {
        height: 14px;
        width: 14px;
      }

      path {
        fill: $c-white;
      }
    }
  }
}

/* Language switcher
/––––––––––––––––––––––––*/
.language__swithcer {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex: 1;
  margin: 0 10px;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: all ease-out $transition_fast;

    li {
      &:hover {
        ul {
          opacity: 1;
          transform: translate(0);
          visibility: visible;
        }
      }

      .js-wpml-ls-item-toggle {
        position: relative;

        &:after {
          content: "›";
          margin: 1px 0 0 7px;
          transform: rotate(90deg);
        }
      }

      a {
        display: flex;
        align-items: center;
        color: var(--c-accent);
        height: 100%;
        padding: 0 10px;
        text-decoration: none;
        transition: all ease-out $transition_fast;

        &:hover {
          color: var(--c-text);
        }
      }

      ul {
        position: absolute;
        background: #fff;
        box-shadow: 0 15px 10px rgba(0, 0, 0, .2);
        opacity: 0;
        padding: 0 0 15px;
        transform: translateY(20%);
        transition: all ease-out $transition_fast;
        visibility: hidden;
        z-index: 100;

        li {
          margin: 15px 0 0;
        }
      }
    }
  }
}

/*==================================================================================
  Footer
==================================================================================*/
.site__footer {
  border-top: 1px solid #f1f1f1;
}

.site__footer-box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.site__footer-menu {
  margin: 0 0 0 auto;

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      margin: 0 10px;
    }
  }
}

.site__footer-copyright {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.3;

  b {
    text-transform: uppercase;
  }
}

/*==================================================================================
  Property
==================================================================================*/
/* Sort
/––––––––––––––––––––––––*/
.property__sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  padding: 10px 0;
  margin: 30px 0 0;
}

.property__sort-info {
  display: flex;

  div {
    margin: 0 5px 0 0;
    font-weight: $bold;
  }
}

.property__sort-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.property__sort-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
  }

  #property_number_of_results {
    width: 50px;
  }
}

.sort-hidden {
  display: none;
}

/* Filter
/––––––––––––––––––––––––*/
.filter__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.filter-fx {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button__show-filter {
  display: none;
}

.filter__item {
  flex: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;

  button {
    &:first-child {
      border-radius: $r-radius-big 0 0 $r-radius-big;
    }

    &:last-child {
      border-radius: 0 $r-radius-big $r-radius-big 0;
      background: $c-second;
    }
  }

  &.features {
    flex: 80%;
  }

  .range-price {
    width: 90px;
  }

  >label {
    font-weight: $semibold;
    font-size: 12px;
  }

  &.search {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.features-checkbox {
  display: flex;
  align-items: center;
  margin: 5px;

  label {
    cursor: pointer;
    margin: 0 5px;
  }

  span {
    display: none;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

/* Item
/––––––––––––––––––––––––*/
.property__item {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: $r-radius;
  overflow: hidden;
  margin: 30px 0 0;

  &:hover {
    box-shadow: 0 13px 13px rgba(0, 0, 0, 0.15);
  }

  main {
    padding: 15px 20px;
  }

  .ref {
    color: $c-accent;
    font-size: 12px;
    margin: 0 0 5px;
  }

  .property__item-price {
    font-size: 24px;
    font-weight: $bold;
  }

  h4 {
    font-weight: $regular;
    font-size: 24px;
    line-height: 100%;
    margin: 10px 0;
  }
}

.property__item-header {
  position: relative;
  padding-bottom: 60%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.property__item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.property__item-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: flex;
  align-items: flex-start;

  .badge {
    margin: 0 10px 0 0;
  }
}

.property__info-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px 15px;
}

.property__info-box {
  display: flex;
  align-items: center;

  svg {
    margin: 0 8px 0 0;

    path {
      fill: $c-second;
    }
  }

  span {
    color: $c-second;
  }
}

.button__loadmore {
  margin: 30px auto 0;

  &.active {
    pointer-events: none;
  }
}

/* Loading
/––––––––––––––––––––––––*/
.property__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $c-white;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-out $transition_fast;
  z-index: 3;
}

.property__loading {
  &.active {
    opacity: 1;
  }
}

.lds-ellipsis {
  position: sticky;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);

  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    background: $c-accent;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:first-child {
      animation: lds-ellipsis1 .6s infinite;
      left: 8px;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 .6s infinite;
    }

    &:nth-child(3) {
      animation: lds-ellipsis2 .6s infinite;
      left: 32px;
    }

    &:nth-child(4) {
      animation: lds-ellipsis3 .6s infinite;
      left: 56px;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.property__wrap {
  position: relative;
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background: $c-light-bg;
  width: 100%;
  margin: 15px;
  padding: 15px;
  font-size: 24px;
  border-radius: $r-radius-big;
}

/* Single
/––––––––––––––––––––––––*/
.property__single-header {
  position: relative;
  min-height: 80vh;
  overflow: hidden;
  background: $c-accent;
  display: flex;
  align-items: flex-end;
}

.property__single-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img[loading=lazy] {
    animation: show 1s;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.property__single-header-description {
  position: relative;
  width: 100%;
  color: $c-white;
  padding: 10vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 22.05%, rgba(0, 0, 0, 0) 100%);

  .container {
    display: flex;
    flex-direction: column;
  }
}

.property__single-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  .price {
    font-size: 48px;
    font-weight: $semibold;
  }

  .info {
    font-size: 36px;
    color: $c-white;
    line-height: 110%;
  }
}

.property__single-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0 0;
}

.single-info__box {
  display: flex;
  flex-direction: column;
  margin: 10px;

  svg {
    width: 60px;
    height: 60px;

    path {
      fill: $c-accent;
    }
  }

  span {
    display: block;
    font-size: 30px;
    font-weight: $semibold;
    margin: 10px 0 0;
  }
}

.property__single-badge {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .badge {
    margin: 5px;
  }
}

.badge {
  display: block;
  padding: 5px;
  font-weight: $semibold;
  border-radius: $r-radius;
  text-transform: uppercase;
  font-size: 12px;
  color: $c-white;
  line-height: 100%;
}

.badge__reserved {
  background: orange;
}

.badge__new-building {
  background: green;
}

.badge__sold-out {
  background: red;
}

.propery__single-content-box {
  margin: 3vw 0;
  font-size: 18px;

  h3 {
    font-size: 36px;
    margin: 0 0 20px;
  }
}

.property__single-features {
  a {
    display: flex;
    align-items: center;
    margin: 5px 0;
    text-decoration: none;
    color: $c-text;
    font-size: 20px;
    transition: color ease-out $transition_fast;

    &:hover {
      color: $c-accent;
    }

    svg {
      margin: 0 10px 0 0;

      path {
        fill: $c-accent;
      }
    }
  }

  .condition,
  .kitchen {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .features {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0;
  }
}

/* Search property
/––––––––––––––––––––––––*/
.property__search {
  position: relative;
  display: flex;
  align-items: center;
  background: $c-accent;
  flex: 1;
  min-height: 50vh;

  &:before {
    background: rgba(0, 0, 0, 0.3);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  h1 {
    color: $c-white;
  }
}

.property__search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: $c-white;
  margin: 30px 0 0;
  padding: 25px 30px 30px;
  transition: all .3s ease-out;

  .filter__item {
    margin: 10px;

    &.submit {
      flex: 0 1 auto;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}

.property__single-gallery {
  .splide__arrow {
    background: transparent !important;
  }

  #gallery__dots {
    margin: 15px 0 0;

    .splide__slide {
      cursor: pointer;
      border: 2px solid transparent !important;
      transition: all ease-out $transition_fast;

      &.is-active {
        border-color: $c-accent !important;
      }
    }
  }
}

.property__single-location {
  iframe {
    width: 100%;
  }
}

.property__single-form {
  position: sticky;
  top: 60px;
  display: block;
  background: $c-white;
  padding: 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  h4 {
    font-size: 30px;
  }

  .inp {
    padding: 15px;
    margin: 20px 0;
    width: 100%;
  }

  .ajax-loader {
    position: absolute;
    top: 30px;
    right: 0;
  }
}