/**
 * General CSS File
 * Contains defaults and presets
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 */


@import 'vars';

/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
}

body {
  display: block;
  background: $white;
  font-family: $f-regular;
  font-size: $f-regular-size;
  color: $c-text;
  cursor: default;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  color: $c-text;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  padding: 4vw 0;
}

.content-top {
  padding: 4vw 0 0;
}

.content-bottom {
  padding: 0 0 4vw;
}

.no-padding {
  padding: 0;
}

h1 {
  font-family: $f-title;
  font-size: 48px;
  color: $c-title;
}

.entry-title {
  text-align: center;
  margin: 0 0 40px;
}

.entry-content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $f-title;
    margin: 25px 0 10px;
    color: $c-title;
  }

  p {
    margin: 10px 0;
    line-height: 160%;
  }

  a {
    color: $c-accent;

    &:hover {
      text-decoration: none;
    }
  }
} 

button:focus {
  outline: 0;
}

/*==================================================================================
  HEADER
==================================================================================*/
.peppi {
  background: $c-accent;
}